img {
	max-width: 100%;
}
.container {
	width: 1100px;
}
@font-face {
	font-family: 'bebas';
	src: url('../fonts/bebas-webfont.eot');
	src: url('../fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebas-webfont.woff2') format('woff2'),
	url('../fonts/bebas-webfont.woff') format('woff'),
	url('../fonts/bebas-webfont.ttf') format('truetype'),
	url('../fonts/bebas-webfont.svg#bebas') format('svg');
	font-weight: normal;
	font-style: normal;
}
.d-nav {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 2;
}
.navbar ul {
	margin-top: 15px;
}
.d-navbar-nav li a{
	font-size: 15px;
	font-weight: 700;
	line-height: 2;
	text-transform: uppercase;
	border-radius: 10px;
	color: #203bff;
}
/*.d-navbar-nav li a:hover {

	background-color: #203bff;
	color: #000;
}
.d-navbar-nav li a:active {
	border-radius: 10px;
	background-color: #203BFF;
	color: #000;
}*/
.navbar .navbar-nav > li > a:hover {
	background: none;
	color: #ff8c87;
}
.nav>li>a:focus{
	background: none;
	color: #ff1826;
}
.collapse .navbar-collapse {
	border: none;
}

.navbar-header span{
	text-decoration: none;
	font-size: 20px;
	float: right;
	margin-top: 25px;
	text-align: center;
	color: #0e4f95;
}

/*SLIDER*/

.d-items {
	position: relative;
	top: 41%;
	left: 1%;
}


.slider-text{
	color: #203BFF;
}

.carousel-control .glyphicon-chevron-left {
	display: none;

}

.carousel-control .glyphicon-chevron-right {
	display: none;

}
.carousel-control.left,
.carousel-control.right {
	background: 0;
}
.glyphicon-chevron-left:before {
	content: "";
}
.glyphicon-chevron-right:before {
	content: "";
}

.carousel-inner .item {
	background-position: 50%, 50%;
	background-size: cover;
	height: 100vh;
}


.carousel-inner p {
	font-size: 28px;
	font-weight: 100;
	color: #0e4f95;
	line-height: 1.2;
	text-align: center;
	padding: 13px 13px 0 0;
	word-spacing: 0.3px;
}

.carousel-indicators {
	bottom: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	margin: 0;
	font-size: 0;
}

.carousel-indicators li {
	border-radius: 0;
	height: 2px;
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: #ccc;
	border: 0;
}
.carousel-indicators li.active {
	background-color: #203BFF;
	height: 4px;
	width: 20%;
}

.carousel-caption .btn-default {
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	padding: 16px 27px;
	margin-top: 28px;
}

.carousel-caption .btn-default:hover {
	background-color: #262626;
}


/*Categories*/

/*
.d-categories {
	background-size: cover;
	background: url("../img/bgi.png") repeat;
	text-align: center;
	padding-bottom: 80px;
}
.d-categories h2 {
	margin-top: 80px;
	margin-bottom: 75px;
	padding-left: 2px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}
.d-categories .d-categories-items .d-categories-desc:hover .btn-category {
	display: block;
}
.d-categories .d-categories-items .d-categories-desc .btn-category:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.d-categories .d-categories-items .d-categories-desc .btn-category {
	color: #001fff;
	border: 2px solid #001fff;
	position: absolute;
	bottom: 15%;
	left: 25%;
	font-size: 12px;
	padding:4px 19px 2px 23px;
	background: transparent;
	display: none;

}
.d-categories .d-categories-items .d-categories-desc  {
	position: relative;
	display: block;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	overflow: hidden;
}
.d-categories .d-categories-items {
	background-size: cover;
	background-position: 50% 50%;
}

.d-categories-desc{
	height: 210px;
	display: block;
	border: 1px solid #ccc;
}
.d-categories .d-categories-items .d-categories-desc h4 {
	color: #030505;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: 0;
}

.d-categories .d-categories-items .d-categories-desc  img {
	width: 100%;
}

.d-categories-desc h4 {
	text-transform: uppercase;
}
.d-categories .d-categories-items .d-categories-desc:hover:before {
	opacity: 1;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity .5s, transform .5s;
	-webkit-transform: rotate(50deg) scale(1.5);
	-ms-transform: rotate(50deg) scale(1.5);
	transform: translateX(-100%) scale(10);
}
.d-categories .d-categories-items .d-categories-desc:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(90deg) scale(1.5);
	-ms-transform: rotate(90deg) scale(1.5);
	transform: rotate(90deg) scale(1.5);
	background-color: rgba(0, 32, 255, 0.30);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}
*/
/*about*/
.about-domi{
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size:28px;
	margin: 30px 0;
	line-height: 1;

}
/*d-office*/
.d-office {
	background: url("../img/bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

}

.d-office h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 2px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}

.d-office p {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 34px;
	margin: 70px 0 10px ;
	line-height: 1;
}
.d-office img {
	border: 1px solid #f5f5f5;
	margin-bottom: 20px;
	width: 400px;
	height:300px;

}
/*d-invite*/

.d-invite p {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 34px;
	margin: 70px 0 10px ;
	line-height: 1;
}
.d-invite img {
	border: 1px solid #f5f5f5;
	margin-bottom: 20px;
	width: 400px;
	height:300px;

}
.d-invite{
 margin: 20px 0 10px;
}
/*d-motivation*/
.d-motivation{
background: url("../img/bg.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;

}

.d-motivation h2 {
	margin-top: 140px;
	padding-left: 2px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}

.d-motivation img {
	border: 1px solid #f5f5f5;
	margin: 20px;
	width: 400px;
	height:300px;

}
/*recent*/

.d-recent {
	margin: 20px 0 40px;
}


.d-recent h2 {
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	color: #030505;
	text-transform: uppercase;
	padding-right: 21px;
	margin-bottom: 24px;
	text-align: center;
}


.recent-info {
	display: block;
	margin-top: -22px;
	padding-top: 14px;
	padding-left: 14px;
	border: 1px solid #ccc;
}

.d-text h2 {
	font: 15px "Bebas", Arial, Helvetica, sans-serif;
	color: #030505;
	text-align: center;

}

.d-text img {
	width: 100%;
	height: 160px;
}

.d-text p {
	font: 11px "Bebas", Arial, Helvetica, sans-serif;
	color: #030505;
	text-align: center;
}
.recent-hover:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: 0.6s;
}
.d-scale-img:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: 0.6s;
}

/*d-building*/
.d-building h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 2px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}
.d-building img {
	margin-bottom: 40px;
	border: 1px solid gray;
}
/*d-used*/
.d-used{
	margin: 20px 0 40px;
}

.d-used img {
	border: 1px solid #f5f5f5;
	margin-bottom: 20px;
	width: 300px;
	height:200px;

}
.d-used h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 2px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}




/*d-about*/
.d-about{
	background: url("../img/bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
/*d-building*/
.d-building{
	background: url("../img/bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
/*partners*/
.d-partners{
	background: url("../img/bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 35px;
	font-weight: 300;
}
.d-partners h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
}
.d-partners img {
	padding: 20px;
}
.d-partners .d-desc h4 {
	margin-top: 0;
	font-weight: 700;
	text-align: center;
	color: #f5f5f5;
}

.d-partners .btn-default {
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	padding: 0 36px;
	line-height: 43px;
	color: #fff;
	background-color: #b7b7b7;
	transition: color .3s, background-color .3s;
	margin-left: 10px;
}
.d-partners .btn-default:hover {
	background-color: #000;
	color: #203BFF;
}

/*d-cordinate*/
.d-cordinate h2 {
	text-align: center;
	margin-top:20px;
	margin-bottom: 60px;
	text-transform: uppercase;
	font-weight: 700;
}
.jetro-red-text{
	color: #203BFF;
}
.embed-responsive-item{
	padding-bottom: 36px;
}
.jet-contact .col-md-5 p{
	font:12px/1.2 Helvetica, Arial, sans-serif;
}
.d-form {
	padding-right: 10px;
	padding-bottom: 37px;
}
.d-form-field {
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	border: 1px solid #203BFF;
	color: #203BFF;
	padding: 10px 13px;
	margin-bottom: 10px;
	line-height: 2.3;

}
.d-form input {
	width: 100%;
	margin-left: 10px;
}
input[type="text"]::-webkit-input-placeholder{
	color: #203BFF;
}
input[type="text"]::-moz-placeholder {
	color: #203BFF;
}
input[type="text"]:-ms-input-placeholder {
	color: #203BFF;
}
input[type="email"]::-webkit-input-placeholder {
	color: #203BFF;
}
input[type="email"]::-moz-placeholder {
	color: #203BFF;
}
input[type="email"]:-ms-input-placeholder {
	color: #203BFF;
}
textarea {
	width: 100%;
	height: 100px;
	margin-left: 10px;
}
textarea::-webkit-input-placeholder {
	color:#203BFF !important;
}
textarea::-moz-placeholder {
	color:#203BFF !important;
}
textarea:-ms-input-placeholder {
	color:#203BFF !important;
}
.d-form .btn {
	background: #203BFF;
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	border: 1px solid #203BFF;
	transition: color .5s, background .5s;
	margin-left: 10px;
	color: #ffffff;
}
.d-form .btn:hover {
	color: #203BFF;
	background: #fff;
}

/*foteer*/
.d-fot {
	height: 200px;
	border: none;
	min-height: 78px;
	margin-top: 49px;
	margin-bottom: 0;
	background-color: #203BFF;
	position: relative;

}

.d-fot h1 {
	font: 20px "Bebas", Arial, Helvetica, sans-serif;
	color: #fff;
}
.fot-first{
	text-align: center;
	margin-left: -50px;
}

.d-fot p {
	font: 12px Arial, Helvetica, sans-serif;
	color: #fff;
}
.d-fot a {
	color: #f3b29d;
	text-decoration: none;
}

.d-fot .fot-hour {
	font: 12px Arial, Helvetica, sans-serif;
	color: #f3b29d;
}

.d-fot img {
	width: 30px;
	height: 30px;
}
