img {
	max-width: 100%;
}
.container {
	width: 1100px;
	min-height: 100px;


}
/*@font-face {
	font-family: 'bebas';
	src: url('../fonts/bebas-webfont.eot');
	src: url('../fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebas-webfont.woff2') format('woff2'),
	url('../fonts/bebas-webfont.woff') format('woff'),
	url('../fonts/bebas-webfont.ttf') format('truetype'),
	url('../fonts/bebas-webfont.svg#bebas') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
.d-nav {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 2;
}
.navbar ul {
	margin-top: 15px;
}
.d-navbar-nav li a{
	line-height: 2;
	text-transform: uppercase;
	border-radius: 10px;
	color: #f3f3f3;
	font: 15px 'Open Sans Condensed', sans-serif;
}

.navbar .navbar-nav > li > a:hover {
	background: none;
	color: #ff8c87;
}
.nav>li>a:focus{
	background: none;
	color: #ff8c87;
}
.collapse .navbar-collapse {
	border: none;
}

.navbar-header span{
	text-decoration: none;
	float: right;
	margin: 25px 0 0 10px;
	text-align: center;
	color: #f3f3f3;
	font: 20px 'Open Sans Condensed', sans-serif;
}

/*SLIDER*/

.d-items {
	position: relative;
	top: 41%;
	left: 1%;
}


.slider-text{
	color: #203BFF;
}

.carousel-control .glyphicon-chevron-left {
	display: none;

}

.carousel-control .glyphicon-chevron-right {
	display: none;

}
.carousel-control.left,
.carousel-control.right {
	background: 0;
}
.glyphicon-chevron-left:before {
	content: "";
}
.glyphicon-chevron-right:before {
	content: "";
}

.carousel-inner .item {
	background-position: 50%, 50%;
	background-size: cover;
	height: 100vh;
}


.carousel-inner p {
	color: #f3f3f3;
	line-height: 1.2;
	text-align: center;
	padding: 13px 13px 0 0;
	word-spacing: 0.3px;
	font: 28px 'Open Sans Condensed', sans-serif;
}

.carousel-indicators {
	bottom: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	margin: 0;
	font-size: 0;
}

.carousel-indicators li {
	border-radius: 0;
	height: 2px;
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: #ccc;
	border: 0;

}
.carousel-indicators li.active {
	background-color: #203BFF;
	height: 4px;
	width: 20%;
}

.carousel-caption .btn-default {
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	padding: 16px 27px;
	margin-top: 28px;
}

.active:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(15, 23, 31, 0.75);
}



/*about*/
.about-domi {
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	margin: 40vh auto;
	width: auto;
}
.about-domi p{
	font: 28px 'Open Sans Condensed', sans-serif;
}
/*d-office*/
.d-office {
	background: url("../img/planet_scenes.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100vh;

}
.d-office:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(15, 23, 31, 0.75);
}

.d-office h2 {
	margin-top: 70px;
	margin-bottom: 20px;
	padding-left: 2px;

	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	color: #FFFFFF;
	font: 28px 'Open Sans Condensed', sans-serif;
}

.d-office p {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
;
	margin: 130px 0 10px ;
	line-height: 1;
	color: #FFFFFF;
	font: 34px 'Open Sans Condensed', sans-serif;
}
.d-office img {
	border: 1px solid #f5f5f5;
	margin: 55px 0 20px;
	width: 400px;
	height:300px;

}
/*d-invite*/
.d-invite {
	height: 100vh;
}
.d-invite p {
	font: 28px 'Open Sans Condensed', sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin: 90px 0 10px;
	line-height: 1;
}
.d-invite-img {
	margin-top: 70px;
}
.d-invite img {
	border: 1px solid #f5f5f5;
	margin-bottom: 20px;
	width: 400px;
	height:300px;

}

/*d-motivation*/
.d-motivation{
background: url("../img/planet_scenes_3.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
	height: 100vh;


}

.d-motivation h2 {
	margin-top: 290px;
	padding-left: 2px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
	color: #FFFFFF;
	font: 28px 'Open Sans Condensed', sans-serif;
}

.d-motivation img {
	border: 1px solid #f5f5f5;
	margin:190px 0;
	width: 400px;
	height:300px;

}
/*recent*/

.d-recent {
	margin: 20px 0 40px;
	height: 100vh;
}


.d-recent h2 {
	font: 36px 'Open Sans Condensed', sans-serif;
	color: #030505;
	text-transform: uppercase;
	padding-right: 21px;
	margin: 30px 0;
	text-align: center;
}


.recent-info {
	display: block;
	margin-top: -22px;
	padding-top: 14px;
	padding-left: 14px;
	border: 1px solid #ccc;
}
.d-text{
	margin-top: 100px;
}
.d-text h2 {
	font: 28px 'Open Sans Condensed', sans-serif;
	color: #030505;
	text-align: center;

}

.d-text img {
	width: 100%;
	height: 160px;
}


.d-text p {
	font: 28px 'Open Sans Condensed', sans-serif;
	color: #030505;
	text-align: center;
}
.recent-hover:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: 0.6s;
}

.d-scale-img img {
	width: 100%;
	height: 220px;
}
.d-scale-img:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: 0.6s;
}

/*d-building*/
.d-building {
	height: 100vh;
}
.d-building h2 {
	margin-top: 40px;
	margin-bottom: 10px;
	padding-left: 2px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	font: 36px 'Open Sans Condensed', sans-serif;
}
.d-building img {
	margin: 40px 0;
	border: 1px solid gray;
}
/*d-used*/
.d-used{
	height: 100vh;
}

.d-used img {
	border: 1px solid #6489ff;
	margin-top: 170px;
	margin-bottom: 20px;
	width: 300px;
	height:200px;

}
.d-used h2 {
	margin-top: 170px;
	margin-bottom: 20px;
	padding-left: 2px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	font: 30px 'Open Sans Condensed', sans-serif;
}




/*d-about*/
.d-about{
	background: url("../img/planet_scenes_1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.d-about h2,h3{
color: #FFFFFF;
	font: 36px 'Open Sans Condensed', sans-serif;
	margin-left: -100px;
}
.d-bout-domi {
	margin-top: 50px;
}
.d-about img {
	margin: 80px 0 10px;
}
/*d-building*/
.d-building{
	background: url("../img/bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.d-building h2{
	color: #FFFFFF;
	font: 28px 'Open Sans Condensed', sans-serif;
}
/*partners*/
.d-partners{
	background: url("../img/bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 35px;
	height: 100vh;
}
.d-partners h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFFFFF;
	font: 36px 'Open Sans Condensed', sans-serif;

}
.d-partners img {
	padding: 10px;
}
.d-partners .d-desc h4 {
	text-align: center;
	color: #f5f5f5;
	font: 28px 'Open Sans Condensed', sans-serif;
}

.d-partners .btn-default {
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	padding: 0 36px;
	line-height: 43px;
	color: #fff;
	background-color: #b7b7b7;
	transition: color .3s, background-color .3s;
	margin-left: 10px;
}
.d-partners .btn-default:hover {
	background-color: #000;
	color: #203BFF;
}

/*d-cordinate*/
.d-cordinate {
	height: 100vh;
}
.d-cordinate h2 {
	text-align: center;
	margin-top:20px;
	margin-bottom: 60px;
	text-transform: uppercase;
	font: 28px 'Open Sans Condensed', sans-serif;
}
.jetro-red-text{
	color: #203BFF;
}
.embed-responsive-item{
	padding-bottom: 36px;
}
.jet-contact .col-md-5 p{
	font: 28px 'Open Sans Condensed', sans-serif;
}
.d-form {
	padding-right: 10px;
	padding-bottom: 37px;
}
.d-form-field {
	font: 16px 'Open Sans Condensed', sans-serif;
	border: 1px solid #203BFF;
	color: #203BFF;
	padding: 10px 13px;
	margin-bottom: 10px;
	line-height: 2.3;

}
.d-form input {
	width: 100%;
	margin-left: 10px;
}
input[type="text"]::-webkit-input-placeholder{
	color: #203BFF;
}
input[type="text"]::-moz-placeholder {
	color: #203BFF;
}
input[type="text"]:-ms-input-placeholder {
	color: #203BFF;
}
input[type="email"]::-webkit-input-placeholder {
	color: #203BFF;
}
input[type="email"]::-moz-placeholder {
	color: #203BFF;
}
input[type="email"]:-ms-input-placeholder {
	color: #203BFF;
}
textarea {
	width: 100%;
	height: 100px;
	margin-left: 10px;
}
textarea::-webkit-input-placeholder {
	color:#203BFF !important;
}
textarea::-moz-placeholder {
	color:#203BFF !important;
}
textarea:-ms-input-placeholder {
	color:#203BFF !important;
}
.d-form .btn {
	background: #203BFF;
	font: 16px 'Open Sans Condensed', sans-serif;
	border: 1px solid #203BFF;
	transition: color .5s, background .5s;
	margin-left: 10px;
	color: #ffffff;
}
.d-form .btn:hover {
	color: #203BFF;
	background: #fff;
}
.map-height {
	height: 300px;
}

/*d-problems*/
.d-problems{
	height: 100vh;

}
.d-problems h2 {
	font: 36px 'Open Sans Condensed', sans-serif;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;

}
.d-problems img {
	border: 1px solid #203BFF;
	margin-top: 50px;
}
.d-problems .btn {
	background: #203BFF;
	font: 16px 'Open Sans Condensed', sans-serif;
	border: 1px solid #203BFF;
	transition: color .5s, background .5s;
	margin: 10px 10px 0;
	color: #ffffff;
}
.d-problems .btn:hover {
	color: #203BFF;
	background: #fff;
}



/*d-garant*/
.d-garant{
background: url("../img/planet_scenes.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
height: 100vh;
}
.d-garant:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(15, 23, 31, 0.75);
}
.d-garant h2 {
	line-height: 1;
	margin-top: 40px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font: 44px 'Open Sans Condensed', sans-serif;
}
.d-garant h3 {
	font: 22px 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: #f5f5f5;
	margin-left: 0;
}
.d-garant p {
	padding-left: 2px;
	line-height: 1;
	text-align: center;
	color: #f5f5f5;
	font: 18px 'Open Sans Condensed', sans-serif;
}
.d-garant img {
	height: 40px;
	width: 40px;
	color: #FFFFFF;
	text-align: center;
	margin-left: 140px;
}
.d-garant .btn {
	display: table;
	background: #203BFF;
	font: 16px 'Open Sans Condensed', sans-serif;
	border: 1px solid #203BFF;
	transition: color .5s, background .5s;
	margin: 20px auto 0;
	padding: 15px 55px;
	color: #ffffff;
}
.d-garant .btn:hover {
	color: #203BFF;
	background: #fff;

}
/*Call-to-Action*/
.Call-to-Action{
	height: 100vh;
}
.Call-to-Action h2 {
	line-height: 1;
	margin-top: 240px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font: 60px 'Open Sans Condensed', sans-serif;
}
/*foteer*/
.d-fot {
	border: none;
	min-height: 78px;
	background-color: #203BFF;
	position: relative;
	margin: 49px auto 0;

}

.d-fot h1 {
	font: 16px 'Open Sans Condensed', sans-serif;
	color: #fff;
}
.fot-first{
	text-align: center;
	margin-left: -50px;
}

.d-fot p {
	font: 16px 'Open Sans Condensed', sans-serif;
	color: #fff;
}
.d-fot a {
	color: #f3b29d;
	text-decoration: none;
}


.d-fot img {
	width: 30px;
	height: 30px;
}
